<div id="search">
  <form action="/artist-search" method="GET">
  
    <input id="artist" type="text" name="artist" placeholder="Enter the artist's name">
  
    <button>Search for an Artist</button>
  
  </form>
</div>